name: C/C++ CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  cmake-build:
      strategy:
        fail-fast: false
        matrix:
          config:
          - {
              name: "Windows - MSVC 2022",
              os: windows-latest,
              build_type: "Debug",
              cc: "cl",
              cxx: "cl",
              generators: "Visual Studio 17 2022",
            }
          - {
              name: "Ubuntu - Clang",
              os: ubuntu-latest,
              build_type: "Debug",
              cc: "clang",
              cxx: "clang++",
              generators: "Unix Makefiles",
            }
          - {
              name: "Ubuntu - GCC",
              os: ubuntu-latest,
              build_type: "Debug",
              cc: "gcc",
              cxx: "g++",
              generators: "Unix Makefiles"
            }
      runs-on: ${{ matrix.config.os }}

      steps:
        - uses: actions/checkout@v6
          with:
            submodules: recursive

        - name: Build
          shell: bash
          env:
            CC:  ${{ matrix.config.cc }}
            CXX: ${{ matrix.config.cxx }}
          run: |
            cmake ${{ env.CMAKE_GENERATOR }} -S "${{ github.workspace }}" -B build ${{ matrix.config.cmake_args }}
            cd build
            cmake --build .
  
  cmake-build-android:
      name: "Android (Ubuntu)"
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6
          with:
            submodules: recursive

        - name: Set up NDK
          id: setup-ndk
          uses: nttld/setup-ndk@v1.5.0
          with:
            ndk-version: r29

        - name: Check CMake version
          shell: bash
          run: |
            cmake --version

        - name: Build
          shell: bash
          env:
            ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
          run: |
            cmake -G "Unix Makefiles" -S "${{ github.workspace }}" -B build \
              -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_HOME/build/cmake/android.toolchain.cmake \
              -DANDROID_ABI=arm64-v8a \
              -DANDROID_PLATFORM=android-26
            cd build
            cmake --build .

  cmake-build-macos:
      strategy:
        fail-fast: false
        matrix:
          config:
          - {
              name: "macOS - Clang (Xcode)",
              os: macos-latest,
              build_type: "Debug",
              cc: "clang",
              cxx: "clang++",
              generators: "Xcode",
            }
      runs-on: ${{ matrix.config.os }}

      steps:
        - uses: actions/checkout@v6
          with:
            submodules: recursive

        - name: Build
          shell: bash
          env:
            CC:  ${{ matrix.config.cc }}
            CXX: ${{ matrix.config.cxx }}
          run: |
            cmake ${{ env.CMAKE_GENERATOR }} -S "${{ github.workspace }}" -B build ${{ matrix.config.cmake_args }}
            cd build
            cmake --build .
